[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pgvector = "*"
sqlalchemy = "*"
langchain-core = "*"
pypdf2 = "*"
langchain-openai = "*"
einops = "*"
langchain-text-splitters = "*"
langchain-postgres = "*"
typing-extensions = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
