[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pgvector = "*"
sqlalchemy = "*"
langchain = "*"
langchain-community = "*"
psycopg2-binary = "*"
pypdf2 = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
