[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pgvector = "*"
sqlalchemy = "*"
langchain-core = "*"
pypdf2 = "*"
langchain-openai = "*"
einops = "*"
langchain-text-splitters = "*"
langchain-postgres = "*"
typing-extensions = "*"
flask-cors = "*"
lxml = "*"
bs4 = "*"
html2text = "*"
mdformat = "*"
boto3 = "*"
pydantic = "*"
jinja2 = "*"
pytablereader = {extras = ["md"], version = "*"}
docling = "*"
langchain-community = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.12"
